.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .logo {
    width: 300px;
    margin-bottom: 20px;
  }
  
  .login-box {
    width: 300px;
    height: 80%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form-group {
    width: 100%;
    margin-bottom: 15px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: calc(100% - 16px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
  }
  
  .login-button {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .login-button {
    background-color: purple;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .login-button:hover {
    background-color: #6a1b9a;
  }
  
  .additional-links {
    margin-top: 10px;
  }
  
  .reset-password {
    color: blue;
  }
  