.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  width: 300px;
  margin-bottom: 20px;
}

.login-box {
  width: 300px;
  height: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="file"] {
  width: calc(100% - 16px);
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}

.register-button {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 3px;
  background-color: purple;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

.register-button:hover {
  background-color: #6a1b9a;
}

.additional-links {
  margin-top: 30px;
}

.reset-password,
.sign-up {
  color: blue;
}
